/* Null Style */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
*:focus,
*:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}
a:visited,
a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h2,
h3,
h6 {
  font-size: inherit;
}

/* All page */
html,
body {
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
ol,
ul {
  padding: 0;
}
/* containers */
.container {
  width: 1440px;
  margin: 0 auto;
}
/* header */
.menu-list {
  display: flex;
  justify-content: space-between;
}
.menu-item {
  list-style-type: none;
  padding-top: 40px;
}
/* text elements */
.great-header {
  font-size: 64px;
  line-height: 74px;
  font-weight: 300;
  letter-spacing: 0.04em;
  color: #1f3f68;
}
.contact-header {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.content-header {
  font-size: 36px;
  text-align: center;
}
.card-header {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
.page-text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
/* footer */
.footer-text > .content-header {
  width: 495px;
}
.footer-text > .page-text {
  width: 340px;
}
.footer-text > .content-header,
.footer-text > .page-text {
  text-align: left;
}
.footer-list {
  display: flex;
  justify-content: space-around;
}
/* MAIN PAGE */
.top-content{
  height: 768px;
  background: linear-gradient(0deg, #EBF3FB 8.84%, rgba(152, 195, 232, 0) 31.12%);
}
.top-content__box{
  display: flex;
  flex-direction: column;
  height: 100%;
  background-image: url(../img/top_bg.png);
  background-repeat: no-repeat;
  background-position: 888px 220px;
}
/* signboard */
.signboard{
  padding-bottom: 190px;
}
.signboard-text{
  padding-top: 115px;
  flex-grow: 1;
}
.signboard-paragraph{
font-size: 16px;
line-height: 26px;
letter-spacing: 0.05em;
opacity: 0.6;
margin-top: 32px;
margin-bottom: 71px;
}
.signboard-text > .great-header {
  width: 510px;
}
.signboard-text > .page-text {
  width: 425px;
}
.signboard-link{
background: #5A98D0;
box-shadow: 5px 10px 20px rgba(53, 110, 173, 0.2);
border-radius: 10px;
padding: 15px 50px;
font-size: 16px;
line-height: 26px;
text-align: center;
letter-spacing: 0.04em;
color: #FFFFFF;
}
/* benefits */
.benefits-cards {
  display: flex;
  justify-content: space-around;
}
.benefits-card_item > .card-header {
  width: 359px;
}
/* CONTACT PAGE */
/* communication */
.communication {
  display: flex;
  justify-content: space-around;
}
/* map */
.map-item {
  width: 100%;
}
/* form elemets */
input,
textarea {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.btn-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
