/* All page */
* {
  margin: 0;
  padding: 0;
}
html,
body {
  font-family: sans-serif;
}
/* containers */
.container {
  width: 1140px;
  margin: 0 auto;
}
/* header */
.menu-list {
  display: flex;
  justify-content: space-between;
}
/* signboard */

/* text elements */
.great-header {
  font-size: 64px;
  color: #1f3f68;
  width: 510px;
}
.contact-header {
  font-weight: 500;
  font-size: 44px;
  text-align: center;
}

.content-header {
  font-size: 36px;
  text-align: center;
}
.card-header {
  font-size: 20px;
  line-height: 30px;
  color: #1f3f68;
}
.page-text {
  font-size: 16px;
  line-height: 26px;
  color: #1f3f68;
}
/* form elemets */
input,
textarea {
  border: 1px solid #356ead;
  box-sizing: border-box;
  border-radius: 10px;
  opacity: 0.4;
}
.btn-submit {
  background: #5a98d0;
  box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
